<div class="row">
  <div class="small-6 small-centered columns">
    <h4>Add a Word</h4>
    <hr>
    <br>
    <%= render 'form' %>
    <hr>
    <br>
    <a href="<%= words_popular_path %>"><h6>View Most Popular Words</h6></a>
  </div>
</div>
