<div class="row">
  <div class="small-10 columns">
    <h4>These are the most popular words on the site.</h4>
  </div>
  <hr>
</div>
<br>
<div class="row">
  <div class="small-10 columns">
    <% @words.each do |word| %>
      <ul>
        <li><%= word.word_name %> - (saved <%= word.list_count %> times)</li>
      </ul>
    <% end %>
  </div>
</div>
