<div class="row">
  <div class="small-6 columns">
    <h3>Learn Yo' Words!</h3>
  </div>
</div>

<div class="row">
  <div class="small-10 small-offset-1 columns">
    <div class="flip">
      <div class="card">
        <div class="face front">
          <h4 class="front-word-title"></h4>
        </div> <!-- END FACE FRONT -->

        <div class="face back">
          <h6 class="def-word-title">
            <hr class="definition">
            <p class="definition" id="part-of-speech"></p>
            <p class="definition" id="definition"></p>
          </h6> <!-- END DEF-WORD-TITLE -->
        </div> <!-- END FACE BACK -->

      </div> <!-- END CARD -->
    </div> <!-- END FLIP -->
  </div>
</div>
